<form [formGroup]="editarForm" (submit)="send()" *ngIf="editarForm" errorTailor>
    <div class="form">
        <h1>█&nbsp;&nbsp; EDITAR</h1>
        <!--///////////////INPUT PLACA///////////////////-->
        <div class="text">
            <input type="text" id="placa" formControlName="placa" [value]="nuevoVehiculo.placa" readonly autocomplete="off">  
            <label for="placa">Placa</label>
        </div>

        <!--///////////////INPUT MODELO///////////////////-->
        <div class="text">
            <input type="text" id="modelo" formControlName="modelo" [value]="nuevoVehiculo.modelo" readonly autocomplete="off">
            <label for="modelo">Modelo</label>
        </div>

         <!--///////////////INPUT MARCA///////////////////-->
         <div class="text">
            <select  name="marca" id="marca" [value]="nuevoVehiculo.marca" disabled="true" formControlName="marca">
                    <option value="" disabled>Marca</option>
                    <option value="Toyota">Toyota</option>
                    <option value="Chevrolet">Chevrolet</option>
                    <option value="Reanult">Reanult</option>
                    <option value="Mazda">Mazda</option>
                    <option value="Mercedez">Mercedez</option>
                    <option value="BMW">BMW</option>
                    <option value="Alfa Romero">Alfa Romero</option>
                    <option value="Audi">Audi</option>
                    <option value="Ferrari">Ferrari</option>
                    <option value="Peugeot">Peugeot</option>
                    <option value="Porche">Porche</option>
            </select>

            
            <!--<input type="text" id="marca" formControlName="marca" required autocomplete="off">-->
            
        </div>

        <!--///////////////INPUT TIPO VEHICULO///////////////////-->
        <div class="text">
            <!--<input type="text" id="tipoVehiculo" formControlName="tipoVehiculo" required autocomplete="off">
            <label for="tipoVehiculo">Tipo Vehiculo</label>-->
            <select name="tipoVehiculo" id="tipoVehiculo" [value]="nuevoVehiculo.tipoVehiuclo"  formControlName="tipoVehiculo">
            <option value="" disabled>Tipo de Vehiculo</option>
            <option value="Carro">Carro</option>
            <option value="Camioneta">Camioneta</option>
            <option value="Furgon">Furgon</option>
            <option value="Campero">Campero</option>
        </select>
        </div>

        <!--///////////////INPUT CAPACIDAD///////////////////-->
        <div class="text">
            <input type="text" id="capacidad" formControlName="capacidad" [value]="nuevoVehiculo.capacidad"  autocomplete="off">
            <label for="capacidad">Capacidad</label>
        </div>

        <div class="text">
            <button [disabled]="editarForm.invalid">ACTUALIZAR</button>
        </div>
    </div>
</form>