<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let element">{{element.nombre}}</td>
    </ng-container>
    <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef>Apellido</th>
        <td mat-cell *matCellDef="let element">{{element.apellido}}</td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
        mat-row
        (click)="clickedRows2.add(row)"
        (click)="clickedRows=(row)"
        [class.demo-row-is-clicked]="clickedRows2.has(row)"
        *matRowDef="let row; columns: displayedColumns;"
    ></tr>
  </table>
<mat-paginator [pageSize]="pageSize" [length]="cantidad" #VehiculoPaginator 
(page)="cambioPagina($event)"></mat-paginator>

<div *ngIf="clickedRows">
<p>Asociar este vehiculo a  {{clickedRows.nombre}} {{clickedRows.apellido}} </p> 
</div>

<button mat-stroked-button (click)="Asociar(clickedRows.idUsuario, data.idVehiculo)" [disabled]="clickedRows==null">Asociar</button>