<form [formGroup]="registrarForm" (submit)="send()" errorTailor>
    <div class="form">
        

        <table class="demo">
            <caption><h1>█&nbsp;&nbsp;REGISTRO CURSO</h1></caption>
            <tbody>
            <tr>
                <td>        
                    <!--///////////////INPUT NOMBRE///////////////////-->
                    <div class="text">
                        <input type="text" id="nombre" formControlName="nombre" placeholder="Juan"  required autocomplete="off">  
                        <!--<ng-container *ngTemplateOutlet="txtUserError;context:{error:registrarForm.get('placa').errors}"></ng-container>-->
                        <label for="nombre">Nombre</label>
                    </div></td>
                <td>        
                    <!--///////////////INPUT APELLIDO///////////////////-->
                    <div class="text">
                        <input type="text" id="apellido" formControlName="apellido" placeholder="Perez"  required autocomplete="off">
                        <!--<ng-container *ngTemplateOutlet="txtModeloError;context:{error:registrarForm.get('modelo').errors}"></ng-container>
                        --><label for="apellido">Apellido</label>
                    </div></td>
                <td>        
                    <!--///////////////INPUT NICK///////////////////-->
                    <div class="text">
                        <input type="text" id="nick" formControlName="nick" placeholder=""  required autocomplete="off">
                        <!--<ng-container *ngTemplateOutlet="txtModeloError;context:{error:registrarForm.get('modelo').errors}"></ng-container>
                        --><label for="nick">Nick</label>
                    </div></td>
            </tr>
            <tr>
            </tbody>
        </table>
 
        <div class="text">
            <button [disabled]="registrarForm.invalid">REGISTRAR</button>
        </div>
    </div>
</form>

<!--<ng-template let-error="error" #txtUserError>
    <!s--{{error | json}}-s->
    <div *ngIf="error?.required&&registrarForm.touched">
        <b>Error</b>
        <i>Este campo es requerido</i>
    </div>
    <div *ngIf="error?.pattern">
        <b>Error</b>
        <i>La placa debe llevar -</i>
    </div>
</ng-template>

<ng-template let-error="error" #txtModeloError>
    <!s--{{error | json}}-s->
    <div *ngIf="error?.minlength">
        <b>Error</b>
        <i>Se esperan minimo 4 numeros</i>
    </div>
    <div *ngIf="error?.required&&registrarForm.touched">
        <b>Error</b>
        <i>Este campo es requerido</i>
    </div>
    <div *ngIf="error?.pattern">
        <b>Error</b>
        <i>Se aceptan unicamente numeros</i>
    </div>
</ng-template>-->