<form [formGroup]="loginForm" (submit)="send()" errorTailor>
    <div class="form">
        <h1>█&nbsp;&nbsp;Login</h1>
        <!--///////////////INPUT PLACA///////////////////-->
        <div class="text">
            <input type="text" id="usuario" formControlName="usuario" [controlErrorsTpl]="txtUserError" placeholder="usuario"   required autocomplete="off">  
            <label for="usuario">usuario</label>
        </div>

        <!--///////////////INPUT MODELO///////////////////-->
        <div class="text">
            <input type="password" id="contrasena" formControlName="contrasena" [controlErrorsTpl]="txtUserError" required autocomplete="off">
            <label for="constrasena">Contraseña</label>
        </div>

        <div class="text">
            <button [disabled]="loginForm.invalid">INGRESAR</button>
        </div>
    </div>
</form>


<ng-template let-error let-text="text" #txtUserError>
    <!--{{error | json}}-->
    <div *ngIf="error?.required">
        <b>Error</b>
        <i>Este campo es requerido</i>
    </div>
<div *ngIf="error?.minlength">
    <b>Error</b>
    <i>No cumples con los caracteres minimos</i>
    <br>
    <i>tienes {{error?.minlength.actualLength}}</i>
    <i> se esperan {{error?.minlength.requiredLength}}</i>
</div>
</ng-template>