<form [formGroup]="editarForm" (submit)="send()" errorTailor>
    <div class="form">
        

        <table class="demo">
            <caption><h1>█&nbsp;&nbsp;REGISTRO DE CONDUCTOR</h1></caption>
            <tbody>
            <tr>
                <td>        
                    <!--///////////////INPUT NOMBRE///////////////////-->
                    <div class="text">
                        <input type="text" [value]="nuevoConductor.nombre" id="nombre" formControlName="nombre" placeholder="Juan"  required autocomplete="off">  
                        <!--<ng-container *ngTemplateOutlet="txtUserError;context:{error: editarForm.get('placa').errors}"></ng-container>-->
                        <label for="nombre">Nombre</label>
                    </div></td>
                <td>        
                    <!--///////////////INPUT APELLIDO///////////////////-->
                    <div class="text">
                        <input type="text" id="apellido" [value]="nuevoConductor.apellido" formControlName="apellido" placeholder="Perez" required  autocomplete="off">
                        <!--<ng-container *ngTemplateOutlet="txtModeloError;context:{error: editarForm.get('modelo').errors}"></ng-container>
                        --><label for="apellido">Apellido</label>
                    </div></td>
                <td>        
                    <!--///////////////INPUT NICK///////////////////-->
                    <div class="text">
                        <input type="text" id="nick" formControlName="nick" [value]="nuevoConductor.nick" placeholder="" required  autocomplete="off">
                        <!--<ng-container *ngTemplateOutlet="txtModeloError;context:{error: editarForm.get('modelo').errors}"></ng-container>
                        --><label for="nick">Nick</label>
                    </div></td>
            </tr>
            <tr>
                <td>
                    <!--///////////////INPUT TIPO DOCUMENTO///////////////////-->
                    <div class="text">
                        <select  name="tipoDocumento" [value]="nuevoConductor.tipoDocumento" id="tipoDocumento" required formControlName="tipoDocumento">
                                <option value="" disabled>Tipo de Documento</option>
                                <option value="1">Cedula de ciudadania</option>
                        </select>            
                    </div></td>
                <td>
                    <!--///////////////INPUT NUMERO DOCUMENTO///////////////////-->
                    <div class="text">
                        <input type="text" id="ndocumento" [value]="nuevoConductor.documento" formControlName="ndocumento" placeholder="1234567"  required autocomplete="off">
                        <!--<ng-container *ngTemplateOutlet="txtModeloError;context:{error: editarForm.get('modelo').errors}"></ng-container>
                        --><label for="ndocumento">Numero de Documento</label>
                    </div></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>       
                     <!--///////////////INPUT CONTRASENA///////////////////-->
                    <div class="text">
                        <input type="text" id="contrasena" formControlName="contrasena"  [value]="nuevoConductor.clave" required autocomplete="off">
                        <!--<ng-container *ngTemplateOutlet="txtModeloError;context:{error: editarForm.get('modelo').errors}"></ng-container>
                        --><label for="contrasena">Contraseña</label>
                    </div></td>
                <td>
                    <!--///////////////INPUT TIPO ESTADO///////////////////-->
                    <div class="text">
                        <select  name="estado"  id="estado" [value]="nuevoConductor.estado" formControlName="estado">
                                <option value="" disabled>Estado</option>
                                <option value="true">Activo</option>
                                <option value="false">Inactivo</option>
                        </select>            
                    </div></td>
                <td>
                    <!--///////////////INPUT TIPO CAMBIO CONTRASEÑA///////////////////-->
                    <div class="text">
                        <select  name="cambioContrasena"  id="cambioContrasena"  [value]="nuevoConductor.cambioContrasena" formControlName="cambioContrasena">
                            <option value="" disabled>Estado</option>
                            <option value="1">Activo</option>
                            <option value="0">Inactivo</option>
                        </select>            
                    </div></td>
            </tr>
            <tr>
                <td>
                    <!--///////////////INPUT CORREO///////////////////-->
                    <div class="text">
                        <input type="text" id="correo" formControlName="contrasena"  [value]="nuevoConductor.correo" autocomplete="off">
                        <!--<ng-container *ngTemplateOutlet="txtModeloError;context:{error: editarForm.get('modelo').errors}"></ng-container>
                        --><label for="correo">Correo</label>
                    </div></td>
                <td>
                    <!--///////////////INPUT CELULAR///////////////////-->
                    <div class="text">
                        <input type="text" id="celular" formControlName="celular" [value]="nuevoConductor.celular"  autocomplete="off">
                        <!--<ng-container *ngTemplateOutlet="txtModeloError;context:{error: editarForm.get('modelo').errors}"></ng-container>
                        --><label for="celular">Celular</label>
                    </div></td>
                <td>
                    <!--///////////////INPUT CELULAR///////////////////-->
                    <div class="text">
                        <input type="text" id="telefono" formControlName="telefono" [value]="nuevoConductor.telefono" autocomplete="off">
                        <!--<ng-container *ngTemplateOutlet="txtModeloError;context:{error: editarForm.get('modelo').errors}"></ng-container>
                        --><label for="telefono">Telefono</label>
                    </div></td>
            </tr>
            <tr>
                <td>
                    <!--///////////////INPUT NOMBRE EMPRESA///////////////////-->
                    <div class="text">
                        <input type="text" id="nombreEmpresa" formControlName="nombreEmpresa" [value]="nuevoConductor.nombreEmpresa" autocomplete="off">
                        <!--<ng-container *ngTemplateOutlet="txtModeloError;context:{error: editarForm.get('modelo').errors}"></ng-container>
                        --><label for="nombreEmpresa">Empresa</label>
                    </div></td>
                <td>
                    <!--///////////////INPUT CARGO///////////////////-->
                    <div class="text">
                        <input type="text" id="cargo" formControlName="cargo" [value]="nuevoConductor.cargo"  autocomplete="off">
                        <!--<ng-container *ngTemplateOutlet="txtModeloError;context:{error: editarForm.get('modelo').errors}"></ng-container>
                        --><label for="cargo">Cargo</label>
                    </div></td>
                <td>
                    <!--///////////////INPUT ROL///////////////////-->
                    <div class="text">
                        <select name="rol" (change)="selecRol()"  id="rol"  [value]="nuevoConductor.rol"  formControlName="rol">
                            <option value="" disabled>Rol</option>
                            <option value="1" >Administrador</option>
                            <option value="4" >Conductor</option>
                        </select>
                    </div></td>
            </tr>

            <tr>
                <td>
                    <!--///////////////INPUT DIRECCION///////////////////-->
                    <div class="text">
                        <input type="text" id="direccion" formControlName="direccion" [value]="nuevoConductor.direccion"  autocomplete="off">
                        <!--<ng-container *ngTemplateOutlet="txtModeloError;context:{error: editarForm.get('modelo').errors}"></ng-container>
                        --><label for="direccion">Direcion</label>
                    </div></td>
                <td>
                    <!--///////////////INPUT TIPO DEPARTAMENTO///////////////////-->
                    <div class="text">
                        <select name="departamento" (change)="cargarCiudades($event.target.value)" [value]="nuevoConductor.departamento" id="departamento"   formControlName="departamento">
                            <option value="" disabled>Departamento</option>
                            <option [value]="dato.idDepartamento" *ngFor="let dato of dept">{{dato.nombre}}</option>
                        </select>
                    </div></td>
                <td>
                    <!--///////////////INPUT TIPO CIUDAD///////////////////-->
                    <div class="text" *ngIf=" editarForm.value?.departamento != ''">
                        <select  name="ciudad" (change)="selecCiudad($event.target.value)" id="ciudad" [value]="nuevoConductor.ciudad.nombre" formControlName="ciudad">
                            <option value="" disabled>Estado</option>
                            <option [value]="dato.idCiudad" *ngFor="let dato of ciudades">{{dato.nombre}}</option>
                        </select>            
                    </div></td>
            </tr>
            </tbody>
        </table>
 
        <div class="text">
            <button [disabled]="editarForm.invalid">EDITAR</button>
        </div>
    </div>
</form>

<!--<ng-template let-error="error" #txtUserError>
    <!s--{{error | json}}-s->
    <div *ngIf="error?.required&& editarForm.touched">
        <b>Error</b>
        <i>Este campo es requerido</i>
    </div>
    <div *ngIf="error?.pattern">
        <b>Error</b>
        <i>La placa debe llevar -</i>
    </div>
</ng-template>

<ng-template let-error="error" #txtModeloError>
    <!s--{{error | json}}-s->
    <div *ngIf="error?.minlength">
        <b>Error</b>
        <i>Se esperan minimo 4 numeros</i>
    </div>
    <div *ngIf="error?.required&& editarForm.touched">
        <b>Error</b>
        <i>Este campo es requerido</i>
    </div>
    <div *ngIf="error?.pattern">
        <b>Error</b>
        <i>Se aceptan unicamente numeros</i>
    </div>
</ng-template>-->